<ul class="donate-button-group">
	<li><a href="{{DONATE_URL}}" class="button outline-white fill-secondary condensed full-width-small">Donate</a></li>
	<li class="show-for-medium"><a href="{{DONATE_URL}}" class="button outline-white fill-primary condensed">$25</a></li>
	<li class="show-for-medium"><a href="{{DONATE_URL}}" class="button outline-white fill-primary condensed">$50</a></li>
	<li class="show-for-medium"><a href="{{DONATE_URL}}" class="button outline-white fill-primary condensed">$100</a></li>
	<li class="show-for-medium"><a href="{{DONATE_URL}}" class="button outline-white fill-primary condensed">$175</a></li>
</ul>