
<div class="cell feature-bar">
	<h1>Vote Joann Ariola For New York City Council - District 32</h1>
</div>

<div class="cell feature">
  <div class="copy">
    <h2 class="feature-headline" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="200">Together</h2>
    <h2 class="feature-headline" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="400"><span>We Will Save Our City</span></h2>
    
    <div class="button-group">
    	
     	<a data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="600" href="/volunteer" class="button solid-secondary hide-for-small show-for-medium show-for-large">Volunteer</a>
     </div>

  </div>

  <div class="outer">
	  <div>
	  	<picture>
		    <source media="(min-width:650px)" srcset="/images/{{largeimg}}">
		    <source media="(min-width:165px)" srcset="/images/{{smallimg}}">
		    <img src="/images/{{largeimg}}" alt="Joann Ariola for City Council - District 32">
		  </picture>
		</div>
		<div>
	  	<picture>
		    <source media="(min-width:650px)" srcset="/images/{{largeimg2}}">
		    <source media="(min-width:165px)" srcset="/images/{{smallimg2}}">
		    <img src="/images/{{largeimg2}}" alt="Joann Ariola for City Council - District 32">
		  </picture>
		</div>
	</div>
</div>