{{#if FACEBOOK_USER}}
<li class="social{{#if class}} {{class}}{{/if}}">
	<a href="https://www.facebook.com/{{FACEBOOK_USER}}" class="social">
		<i class="brands-icon facebook"></i>
	</a>
</li>
{{/if}}

{{#if TWITTER_USER}}
<li class="social{{#if class}} {{class}}{{/if}}">
	<a href="https://twitter.com/{{TWITTER_USER}}" class="social">
		<i class="brands-icon twitter"></i>
	</a>
</li>
{{/if}}

{{#if INSTAGRAM_USER}}
<li class="social{{#if class}} {{class}}{{/if}}">
	<a href="https://www.instagram.com/{{INSTAGRAM_USER}}" class="social">
		<i class="brands-icon instagram"></i>
	</a>
</li>
{{/if}}
